<h2>Answer Question</h2>

<form>
  <label for="question">Question</label>
  <div>
    <input type="text" list="suggestions" name="question" id="question"
    placeholder="Enter your question here" [(ngModel)]="question"/>

    <datalist id="suggestions">
      <option>What bouquet would you recommend for a birthday?</option>
      <option>Can I get a red and yellow flower bouquet?</option>
      <option>What is your most popular bouquet?</option>
    </datalist>

    <button type="submit" (click)="answerQuestion()" id="answerBtn">Answer</button>
  </div>
</form>

<button (click)="restart()" id="restart">Restart conversation</button>

<!-- <markdown [data]="getMarkdownContent()"></markdown> -->
<div id="dialog"></div>
